
body {
 
    background-image: linear-gradient(to right, rgb(64, 143, 207) , rgb(124, 12, 144));
  }
    .Login{
      background-color:white;
    width: 350px;
    border: 15px solid white;
    padding: 30px;
    margin: 0 auto;
    font-family: 'Franklin Gothic Mediu', 'Arial Narrow', Arial, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .buttom{
        background-image: linear-gradient(to right, rgb(64, 143, 207) , rgb(124, 12, 144));   
       color: rgb(209, 196, 196);
        text-align: center;
        font-size: large;
        padding: 20px 160px ;
    
    }
    .fortext{
      text-decoration: none;
      color: #1f82a3;
    }
    .sign{
      text-decoration: none;
      color: #1f82a3;
    }
    .form , .last{
      text-align: center;
    }
    input {
        width: 100%;
        height: 100%;
        padding: 20px 10px;
    }
    